@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

[x-cloak] {
    display: none !important;
}


:root {
    --brandColor: #2e4757;
    --background: rgb(247, 247, 247);
    --textDark: #324054;
    --textLight: hsla(0, 0%, 0%, 0.33);
    --navbar-item-hover-bg: #EFF6FF;
    --navbar-item-hover-color: #2D68FE;
    --navbar-item-active-bg: #EFF6FF;
    --navbar-item-active-color: #2D68FE;
    
}

table, main {
    background-color: var(--background) !important;
}

div > button {
    text-align: right;
}

body {
    background-color: #f8f8f8;
    color: var(--textDark);
    font-family: 'Montserrat';
    height: 100vh;
}

/* Header */
.hero.is-primary {
    background-color: var(--brandColor);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: white;
}

/* Logout */
.inicio {
    color: white;
}

.inicio {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.inicio-label {
    margin-right: 5px;
}

.hero-body h1 {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
}

main {
    padding: 15px;
    height: max-content;
}

table button {
    width: 35px;
}

#crear-usu {
    background-color: #2e4757;
    
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

#crear-usuario div {
    max-width: 70%;
}


.activo {
    background-color: #2e4757;
}

.activo i, .activo ion-icon {
    color: white;
}


.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ion-icon {
    cursor: pointer;
}

.rotate label {
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
}

#btn-crear-usu {
    background-color: #2e4757;
    font-weight: bold;
    color: white;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Añadir reglas CSS para el autocompletado */
.user-list {
    list-style-type: none;
    padding: 0;
    background-color: white;
    max-height: 65%;
    overflow: scroll;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.user-item:hover {
    background-color: #f5f5f5;
}

.image.is-64x64 {
    margin-right: 10px;
    border-radius: 50%;
    object-fit: contain;
}

.image.is-64x64 .img {
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.izquierda {
    display: flex;
    align-items: center;
}

/* Añadir reglas CSS para hacer el figure alineado a la izquierda */
.user-details {
    margin-left: 74px; /* Ancho de la imagen + margen */
}

/* Hacer el figure alineado a la izquierda */
.user-details .image.is-64x64 {
    float: left;
    margin-right: 10px;
}

.user-type {
    font-style: italic;
    font-weight: bold;
    color: #2e4757;
}

.button:hover {
    transform: scale(1.15);
}

.texto figure, .texto > div {
    cursor: pointer;
}