:root {
    --brandColor: #2e4757;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--brandColor);
}

form {
    height: 350px;
    max-width: 30%;
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #eceae4;
    border: 2px solid white;
    border-radius: 1.25em;
    padding: 65px;
    opacity: 0;
    animation: fade-in 1.5s ease-in-out forwards;
}

@keyframes fade-in  {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}

#form-header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#form-header span {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    color: var(--brandColor);
}

img {
    height: auto;
    max-width: 15%;
}


h1 {
    color: var(--brandColor);
    font-size: 46px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


label, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--brandColor);
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#btn-submit {
    padding: 15px;  
    border: none;
    cursor: pointer;
    border-radius: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    background-color: var(--brandColor);
}

#correo, #pass, #confirmar {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 1.25em;
}

#correo:focus, #pass:focus {
    outline: none;
    border: 2px solid #2e4757 
}


#respuesta {
    text-align: center;
}

@media screen and (max-width: 600px) {
    form {
        max-width: 50%;
    }

    img {
        max-width: 35%;
    }
}

#error {
    text-align: center;
}