@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --brandColor: #2e4757;
    --background: rgb(247, 247, 247);
    --textDark: #324054;
    --textLight: hsla(0, 0%, 0%, 0.33);
    --navbar-item-hover-bg: #EFF6FF;
    --navbar-item-hover-color: #2D68FE;
    --navbar-item-active-bg: #EFF6FF;
    --navbar-item-active-color: #2D68FE;
}

body {
    background-color: #f7f7f7;
    color: var(--textDark);
}

/* Header */
.hero.is-primary {
    background-color: var(--brandColor);
}

/* Logout */
.logout {
    color: white;
}

/* Ajustar posición de los sections */
.sections {
    margin-left: 200px; /* Ancho del menú */
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.hero-body h1 {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
}

/* Para cambiar el hover de los links de menú de navegación */
.navbar-item:hover, .focus {
    background-color: var(--navbar-item-hover-bg) !important;
    color: var(--navbar-item-hover-color) !important;
}

.navbar-item.is-active {
    background-color: var(--navbar-item-active-bg) !important;
    color: var(--navbar-item-active-color) !important;
}

.button.is-link.is-info {
    background-color: var(--navbar-item-hover-color);
}

/* Propiedades del boton de scroll to top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.scroll-to-top:hover {
    opacity: 0.8;
}

.scroll-to-top i {
    transform: translateY(-2px);
}

.navbar {
    font-size: x-large;
}

/* Para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        text-align: center;
    }
}

/* Para el menú de navegación siempre este hacia la izquierda sticky */
@media screen and (min-width: 769px) {
    /* Ajustar posición del menú */
    .navbar {
        height: 97vh;
        padding: 30px 20px 0px 20px;
        position: sticky;
        top: 0;
    }

    .navbar-item {
        margin: 5px;
    }

    .navbar-item-content {
        display: flex;
        align-items: center;
    }

    .navbar-item-content .icon {
        padding-right: 10px;
    }

    /* Ajustar posición de las secciones */
    .columns {
        display: flex;
        flex-wrap: nowrap;
    }

    .column {
        flex: 1;
        min-width: 0;
    }

    .column.is-2 {
        flex: 0 0 auto;
    }
}