* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2e4757;
}

form {
    height: 350px;
    width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #eceae4;
    border: 2px solid white;
    border-radius: 1.25em;
    padding: 100px;
}

#form-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-header span {
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    color: #2e4757;
}

img {
    height: auto;
    width: 30%;
}


.header {
    min-height: 15vh;
    width: 100%;
    position: relative;
}

.header-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e4757;
    font-weight: bold;
    font-size: 25px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

nav {
    display: flex;
    padding: 2% 6%;
    align-items: center;
}

nav img {
    height: 50px; 
    width: 50px;
}

h1 {
    color: #2e4757;
    font-size: 46px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



label, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #2e4757;
}


input[type=text] {
    height: 20px;
    width: 90%;
    padding: 5px;
    border-radius: 1em;
    border: none;
}

textarea {
    border: none;
    border-radius: 1em;
    resize: none;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

button {
    padding: 15px;  
    border: none;
    cursor: pointer;
    border-radius: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #2e4757;
}

#correo, #pass {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 1.25em;
}

#correo:focus, #pass:focus {
    outline: none;
    border: 2px solid #2e4757 
}

a {
    color:#2e4757;
}