:root {
    --brandColor: #2e4757;
    --background: #f7f7f7;
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
}

body {
    background: var(--background);
    color: var(--textDark);
    min-height: 100vh;
}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

.register {
    margin-top: 1rem;
    background: white;
    border-radius: 10px;
}

.columns {
    min-height: 100vh;
}

.left,
.right {
    padding: 4.5rem;
}

.left {
    border-right: 5px solid var(--background);
}

.left .title {
    font-weight: 800;
    letter-spacing: -2px;
}

.left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
}

.left p {
    color: var(--textLight);
    font-size: 1.15rem;
}

.right .title {
    font-weight: 800;
    letter-spacing: -1px;
}

.right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
}

.right small {
    color: var(--textLight);
}

input {
    font-size: 1rem;
}

/*
input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}
 */

.fab,
.fas {
    color: var(--textLight);
    margin-right: 1rem;
}

.column.left h1.title.is-1 {
    font-family: 'Poppins', 'SansSerif';
    color: #2e4757;
    font-style: italic;
    font-weight: 500;
}

h1.logo-body {
    font-family: "Poppins";
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    color: #2e4757;
    padding-left: 1rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
}

