<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
		<meta charset="UTF-8">
		<title>
			{% block title %}Brandico
			{% endblock %}
		</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
