{% extends 'base.html.twig' %}

{% block head %}
	<link rel="stylesheet" href="{{ asset('css/cambiar.css') }}">

{% endblock %}

{% block content %}
	<form id='form-login' action="{{ path('cambiar_pass') }}" method="POST">
		<div id='form-header'>
			<span>BRANDICO</span>
			<img src="{{ asset('img/logoHeader.png') }}">
		</div>
        <div class="form-element">
            <label for="pass">Nueva contraseña:</label>
    		<input id='pass' type="password" name="pass">
        </div>
        <div class='form-element'>
            <label for="confirmar">Confirmar contraseña:</label>
		    <input id='confirmar' type="password" name="confirmar_pass">
        </div>
		<input type='hidden' name='id' value='{{ id }}'>
		<button type="button" id='btn-submit'>Cambiar</button>
	</form>

	<script>
		$("#btn-submit").click(() => {
			if ($("#pass").val() === $("#confirmar").val() && $("#pass").val().replace(/\s/g, '').length > 0) {
				$("#form-login").submit();
			} else {
				$("#error").remove();
				$("#form-header").after($(`<p id='error' style='color: red; font-weight: bold' class='mt-4'>Los dos campos son obligatorios y tienen que coincidir!</p>`));
			}
		});
	</script>
{% endblock %}
