{# templates/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="style-login.css">
        <title>Bienvenido</title>
    </head>
    <body>		
		<h2>Acceso</h2>
		<hr>
    	<form action="{{ path('controlador_login') }}" method="post">
			<br>
			Usuario:
			<input type="text" name="_username" />
			<br>
			Clave
			<input type="password" name="_password" />
			<br>
			<button type="submit">login</button>
			<a href="{{path('controlador_registro')}}">No tienes una cuenta?</a><br>
			<a href="{{path('consultar_receta')}}"><strong>Pulse aquí para consultar su receta</strong></a>
		</form>
	</body>
</html>