{# templates/telefono.html.twig #}
{% extends 'base.html.twig' %}
{% block head %}
	{#<link rel="stylesheet" href="{{ asset('css/login.css') }}">#}
	<title>Actualizar correo</title>
{% endblock %}
{% block content %}
    <center><h3>CAMBIO DE TELÉFONO</h3></center>
    <form action="{{path('actualizartelefono')}}" method="post">
        Introduzca el nuevo teléfono: <input type="text" name="telefono">
        <button type="submit"> Actualizar </button>
    </form>
    <a href="{{path('miperfil')}}" style='color:grey; font-size:13px'> Atrás</a>
{% endblock %}